// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

// * {
//   font-family: 'Raleway', sans-serif;
// }

* {
  font-family: 'Nunito', sans-serif;
}

// ! EOIN

.flexi-home-hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.map-controller {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 220px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 0.8rem;
  margin: 1rem;
}



.remove-text-decoration{
  text-decoration: none;
}

img.small-img{
  width: 20rem;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.small-img{
  width: 5px;
}

div.mapboxgl-popup-content{
  padding: 0;
  border-radius: 10px;

}

div.flexi-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.mapboxgl-map{
  border-radius: 5px;
}

div.make-smaller{
  height: 20rem;
}
// div.mapboxgl-popup.mapboxgl-popup-anchor-top{

// }

div.cancel-booking-flexi{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.col-flexi{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.marker {
  font-size: 20px;
}

.rocket {
  display: block;
  transform: translateX(-20px);
}

div.map-container {
  height: calc(100vh - 52px);
  width: 100%;
}

div.no-pad{
  padding: 0;
}

.hero-img{
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("https://res.cloudinary.com/dk0r9bcxy/image/upload/v1629918935/project-image-upload-test/timthumb_1_iia441.jpg");
  // background-position: center;
  // background-size: cover;
  // color: rgb(212, 197, 197);
}

.center-text{
  width: 80%;
}

.has-inline{
  display: inline-block;
}

h1.display-5{
  color: white;
}

.btn.has-width{
  width: 90%;
  color: white;
}
div.py-5 {
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
}

div.css-yk16xz-control{
  border: 1px solid white;
}

.special.card-body {
  height: 14rem;
}

div.white-bg{
  background-color: white;
  border-radius: 5px;
}

.float-right{
    float: right;
}

#no-top{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-profile-link {
  text-decoration: none;
}

div.display-card{
  // width: 20rem;
  height: 16rem;
  // min-width: 297px;
  // background: url('https://milocostudios.com/wp-content/themes/miloco/timthumb.php?src=https://milocostudios.com/wp-content/uploads/2015/03/Longtermlet.jpg&w=734&h=370&zc=1&q=100');
  background-position: center;
  background-size: cover;
  color:white;
}

.card-body{
  height: 16rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: start;
}
// .display-card-hor{
//   height: 16rem;
// }

.card-body.middle-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sponsor{
  width: 100%;
}


img.height-100{
  height: 100%;
}

.card-body.top-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.card-body.center-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-body.center-card.smaller{
  height: 4rem;
}

img.card-img-top.resize-img{
  height: 20rem;
}

.special.format-size.fit{
  min-height: 18rem;
}


button.btn{
  color:white;
  filter: drop-shadow(0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2));
}

.card-shadow{
  filter: drop-shadow(0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2));

}

.display-card:hover{
  transform: scale(1.01);
}
button.btn:hover{
  transform: scale(1.01);
  color: #fff;
  font-weight: 400;
}

.flexi{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-inline{
  display: inline-block;
}

.flexi-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.list-block-item.flexi-row{
  display: inline-block;
}

select.remove-border{
  border: 1px solid white;
}

button.full-height{
  height: 60%;
  margin-top: .7rem;
}


.mb-3.px-1.py-3.white-bg.row{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.date-picker::-webkit-input-placeholder {
  text-align: center;
}

// ! CHRISTIAN

.form-wrap{
  display: flex;
  justify-content: center;
}

.form-adjust{
  width: 750px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.centered {
  margin-bottom: 30px;
  margin-top: 30px;
}

.title-spacing {
  margin-bottom: 20px;
}

.form-image-wrap{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 5px;
}

.invalid-image {
  border: rgb(203, 0, 0) 1px solid;
}

.img-upload-spacing {
  border-radius: 0.5ch;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.image-upload-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.additional-image-spacing {
  margin-left: 40px;
}

.form-button-wrap {
  display: flex;
  justify-content: center;
}

.form-button-spacing {
  margin-top: 40px;
}

.form-equipment-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 10px;
}

.checkbox-spacing {
  margin: 5px;
}

.create-form, .edit-form {
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('https://milocostudios.com/wp-content/themes/miloco/timthumb.php?src=https://milocostudios.com/admin/uploads/1516773721.7647.JPG&w=1600&h=900&zc=1&q=100');
  background-position: center;
  background-size: cover;
  Form {
    border: solid 1px rgb(215, 215, 215);
    border-radius: 5px;
    padding: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: whitesmoke;
  }
}

.prev-artist-wrap {
  display: flex;
  justify-content: space-between;
}

.artist-half-column {
  width: 49%;
}

// ! HARRY

.sml-crd {
  min-width: 297px;
}

.sml-crd.ensure {
  min-width: 240px;
}

.fav-btn {
  width: 190px;
}

// Navbar

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    margin-right: 10px;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .username {
    margin-right: 12px;
    font-weight: 600;
  }
  .counter {
    position: relative;
    top: -8px;
    margin-right: 1px;
    font-size: small;
  }
}

// Login & Register

.login {
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('https://milocostudios.com/wp-content/themes/miloco/timthumb.php?src=https://milocostudios.com/admin/uploads/1516773721.7647.JPG&w=1600&h=900&zc=1&q=100');
}

.register {
  min-height: 700px;
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('https://milocostudios.com/wp-content/themes/miloco/timthumb.php?src=https://milocostudios.com/admin/uploads/1480228651.476.jpg&w=1600&h=900&zc=1&q=100');
  .checkbox {
    margin-right: 5px;
  }
}

.edit-user {
  min-height: 900px;
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('https://milocostudios.com/wp-content/themes/miloco/timthumb.php?src=https://milocostudios.com/admin/uploads/1503923634.5575.jpeg&w=1600&h=900&zc=1&q=100');
}

.login, .register, .edit-user {
  height: 120vh;
  // min-height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  Form {
    border-radius: 5px;
    padding: 12px;
    background-color: whitesmoke;
  }
  .form-vertical-align {
    margin-top: 10vh;
    min-width: 375px;
    max-width: 620px;
  }
}

.form-text {
  color: red;
}
.flexi-col-btn-special{
  display: flex;
  align-items: flex-end;
}

.display-right-here{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.max-height-500px{
  max-height: 500px;
}

.flexi-col-end{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexi-end-col{
  display: flex;
  align-items: flex-end;
}
// Profile

.profile-page {
  .list {
    margin-bottom: 0;
  }
  .studio-indent {
    margin-left: 12px;
  }
  .btn {
    margin: 10px;
    width: 251px;
  }
  .avatar {
    border-radius: 50%;
  }
}

// Terms

.terms {
  ul {
    list-style: none;
  }
}

// .about-img {
//   background-attachment: fixed;
//   background-position: bottom;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.about-img {
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('https://milocostudios.com/wp-content/themes/miloco/timthumb.php?src=https://milocostudios.com/wp-content/uploads/2015/06/201506021159432951211201505261919002697303airlab_1_flat1.jpg&w=1600&h=900&zc=1&q=100');
}

.contact-us-img {
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('https://milocostudios.com/wp-content/themes/miloco/timthumb.php?src=https://milocostudios.com/wp-content/uploads/2019/06/silvershark-hero.jpg&w=1600&h=900&zc=1&q=100');
}

.footer-link-pages {
  min-height: 100vh;
}

.footer {
  position: absolute;
  bottom: 0;
  .footer-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-title {
    display: flex;
    align-items: center;
  }
  .container {
    display: flex;
    justify-content: center;
  }
  .made-by {
    font-size: small;
  }
  .row {
    margin: 0 auto;
  }
}

.create-form.special-case{
  min-width: 100%;
}

.height-50vh-bm{
  margin-bottom: 50vh;
}

.parallax {
  height: 70vh;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 575px) {

  .footer {
    .all {
      margin: 0 auto;
    }
  }

}

@import "~bootstrap/scss/bootstrap"